*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #bfbee7;
    scroll-behavior: smooth;
}

/* ---------------------------------------------------------------Header */
.header {
    background-color: #3a62b7;
    color: #fff;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.logo {
    font-size: 24px;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
}

/* --------------------------------------------------------------Navbar */
.Navbar {
    display: flex;
    
}

.Navbar a {
    color: #fff;
    text-decoration: none;
    margin-left: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
    border-radius: 5vw !important;
    transition: 0.5s;
    cursor: pointer;
    

}

.Navbar a:hover {
    /* text-decoration: underline; */
    box-shadow: 1px -1px 51px -6px #44bd4e;
    margin-top: 5px;
}

/* ---------------------------------Kleine navbar */
.Navbar-Klein{
    display: none;
    flex-direction: column;
    text-align: center;
    background-color: #3a62b7ca;
    border-radius: 0 0 10px 10px;
    padding-bottom: 5px;

}
.Navbar-Klein a {
    color: #fff;
    text-decoration: none;
    margin-left: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
    border-radius: 5vw !important;
    transition: 0.5s;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
    margin-top: 2%;
}
.Navbar-Klein a:hover {
    /* text-decoration: underline; */
    box-shadow: 1px -1px 51px -6px #15353d;
    margin-top: 5px;
}
div.header div.Navbar a{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* -----------------------------------------------------------------------------------------Inhoud Index */
.alles{
    padding-left: 3px;
}
/* ----------------------------------------------------------------Hamburger menu */
.hamburger-menu {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 20px;
    cursor: pointer;
}

.line {
    width: 100%;
    height: 2px;
    background-color: #fff;
}
/* -------------------------------------------------------------------Inhoud Home */
.content-home {
    margin-top: 5%;
    padding: 20px;
    margin-bottom: 100px;
    margin-left: 3px;

}
.content-home h1{
    color: black;
    text-align: center;
}
.content-home .foto {
    position: relative;
    width: 100%;
    height: 60vh; /* Use viewport height to keep the image responsive */
    background: url('afbeeldingen/homeachtergrond.jpg') no-repeat center center;
    background-size: cover;
}

.content-home .foto .text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white; 
    text-align: center;
    font-size: 2em;
    width: 100%;
    font-family: 'Roboto', sans-serif;
}

/* -------------------------------------------------------------------Inhoud Home Menu */
.content-menu {
    padding: 20px;
    margin-bottom: 100px;
    margin-left: 3px;
}
.content-menu button{
    background-color: #3a62b7;
    border-radius: 10px;
    border: none;
    color: whitesmoke;
}

.menu-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; 
}

.menu-item {
    width: calc(24% - 10px);
    background-color: #f9f9f9;
    border-radius: 5px;
    overflow: hidden;
    border: 1px solid #ddd;
    display: flex;
    flex-direction: column;
}

.menu-item-content {
    flex-grow: 1;
    padding: 10px;
}

.menu-item h3, .menu-item p {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
}
button a{
    text-decoration: none;
    color: whitesmoke;
}

/* ------------------------------------------------- afbeelding */
.menu-item-image img {
    width: 100%;
    height: auto;
    object-fit: cover;
}
/* ------------------------------------------------------------ Inhoud About Page */
div.About-Inhoud{
    padding-left: 1%;
    display:flex;
    flex-direction: column;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
div.About-Inhoud h1.About-Title {
    /* background-color: black; */
    padding: 5%;
    text-align: center;

} 
div.Tekst-Info{
    padding-bottom: 2%;
    display: inline-block;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
div.Tekst-Info h2{
    color: black;
    font-size: 30px;
    text-align:left;
    width: 36%;
    border-radius: 10px;
    /* padding-top: 100px;
    padding-left: 150px; */
}
div.Tekst-Info h2:hover{
    background-color: black;
    color: #bfbee7;
}
div.Tekst-Info p{
    color: black;
    padding-left: 1% ;
    /* margin-bottom: 100px; */
    font-size: 20px;
    border-radius: 10px;
} 
div.Tekst-Info p:hover{
    background-color: rgba(0, 0, 0, 0.753);
    color: #bfbee7c3;
}
/* -------------------------------------------------Pagina producten (menu) */
main.container{
    padding-left:40%;
    width:100%;
}
/* __________________________________________ Producten */

.producten button, .product button {
    background-color: #3a62b7;
    border-radius: 10px;
    border: none;
    color: whitesmoke;
    text-decoration: none;
}
.producten button:hover, .product button:hover{
    background-color:  #3a40b7;
    border-radius: 10px;
    text-decoration: none;
    border: 1px solid black;
}
div.container{
    padding-left:40%;
    width:100%;
}
h1.h1Toevoegen{
    width: 10%;
}
.producten{
    padding-left:40%;
    width:100%;
}
a.buy-button{
    text-decoration: none;
    color: whitesmoke;
}

.product{
    padding-top: 3%;
}

/* ------------------------------------------------------------ Contact */
form.contact {
    margin: 4% auto;
    margin-top: 4%;
    width: 60%;
    padding: 4%;
    height: 60%;;
    border: solid #292929;
    border-radius: 30px;
    margin-bottom: 15%
}
  form.contact h1.from{
    color: black;
}
h1.contacth1{
    padding-top: 3%;
    text-align: center;
}
  
form.contact label {
    display: inline-block;
    font-size: 13px;
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;

}
  
form.contact input[type="text"], form.contact input[type="email"], textarea {
    width: 100%;
    padding: 5px;
    margin-top: 5px;
    background-color: white;
    color: black;
}
form.contact input:hover{
    background-color: #292929;
    color: white;
}
form.contact textarea:hover{
    background-color: #292929;
    color: white;
}
  
form.contact input[type="submit"] {
    padding: 10px;
    background-color: #333;
    color: #fff;
    border: none;
    margin-top: 10px;
    margin-bottom: 15px;
    border-radius: 10px;
}
form.contact input[type="submit"]:hover{
    color: #333;
    background-color: #fff;
    border: #292929 solid;
}
  

/* ------------------------------------------------------------ Footer */
.footer {
    margin-top: 2%;
    background-color: #3a62b7; 
    color: #fff;
    padding: 20px;
    text-align: center;
    width: 100%;
    position: relative; /* Relatieve positionering */
    display: flex;
    margin-bottom: 0;
    bottom: 0;
}
.ondertekst{
    text-align: left;
    padding-left: 3%;
}
.ondertekst li{
    padding-top: 1%;
}

.footer-section {
    flex: 1;
    border-right: 1px solid black;
}
.footer-section a {
    list-style-type: none;
    text-decoration: none;
    color: whitesmoke;
}

.footer-section h3 {
    margin-top: 0;
}

/* --------------------------------------------- Socialmedia */
.social-media-links {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-media-links li {
    margin-right: 10px;
}

.social-media-links li:last-child {
    margin-right: 0;
}

/*--------------------------------------------- Bootstrap  */
.bi{
    color: black;
    text-decoration: none;
}
div.logo .bi{
    color: rgb(59, 206, 59);
    width: 10%;
}
/* ----------------------------------------------LOGIN */

form.form-container{
    border: 2px solid black;
    text-align: center;
    border-radius: 10px;
    width: 70%;
    margin: 4% auto;
    border: solid #292929;
    margin-bottom: 4%;
    margin-top: 2%;
}

form.form-container label {
    display: inline-block;
    font-family: 'Raleway', sans-serif;

}
  
form.form-container input[type="text"], form.form-container input[type="password"],
  textarea {
    width: 20%;
    padding: 5px;
    margin-top: 5px;
    background-color: white;
    color: black;
}
form.form-container input:hover, form.form-container textarea:hover{
    background-color: #292929;
    color: white;
}
form.form-container input[type="submit"] {
    padding: 10px;
    background-color: #333;
    color: #fff;
    border: none;
    margin-top: 10px;
    margin-bottom: 15px;
    border-radius: 10px;
    border: 2px #292929;
}
form.form-container input[type="submit"]:hover{
    color: #333;
    background-color: #fff;
    border: 2px #292929;
}
/* -----------------------------------------------------Responsive maken */
@media (max-width: 768px) {
    .Navbar {
        display: none; /* Verberg het menu */
    }

    .Navbar-Klein{
        display: flex;
    }

    .hamburger-menu {
        display: flex; /* Tonen hamburgermenu */
    }

    .menu-items {
        flex-direction: column; /* Stapel menu-items */
    }

    .menu-item {
        width: 100%;
    }
    .footer{
        display: none;
    }
    main.container{
        padding-left:5%;
        width:90%;
    }
    .producten{
        padding-left:5%;
        width:90%;
    }
}
